@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&display=swap');

:root {
    /* --left-bg-color: rgba(87, 84, 236, 0.7);
    --right-bg-color: rgba(43, 43, 43, 0.8); */
    --left-apple_btn-hover-color: rgba(87, 84, 236, 1);
    --right-android_btn-hover-color: rgba(28, 122, 28, 1);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
  }

* {
    box-sizing: border-box;
  }  

  body {

    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  .appleBrand {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap; /*this is to set up a non-second line of the text */
  }

  .androidBrand {
    font-size: 4rem;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap; /*this is to set up a non-second line of the text */
  }

.android_btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: rgb(0, 0, 0) solid 0.2rem;
    font-size: 1rem;
    width: 15rem;
    padding: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.apple_btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 0.2rem;
    font-size: 1rem;
    width: 15rem;
    padding: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.split.left .apple_btn:hover {
    background-color: var(--left-apple_btn-hover-color);
    border-color: var(--left-apple_btn-hover-color);
  }

  .split.right .android_btn:hover {
    background-color: var(--right-android_btn-hover-color);
    border-color: var(--right-android_btn-hover-color);
  }

  .hover-left .left {
    width: var(--hover-width);
  }
  
  .hover-left .right {
    width: var(--other-width);
  }
  
  .hover-right .right {
    width: var(--hover-width);
  }
  
  .hover-right .left {
    width: var(--other-width);
  }

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
  }

  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

  .split.left {
    left: 0;
    background: url('images/appleLogo2.gif');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .split.right {
    object-fit: unset;
    right: 0;
    background: url('images/androidResize.gif');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
  }

  .split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
  }

  .split.right,
  .split.left,
  .split.right::before,
  .split.left::before {
    transition: all var(--speed) ease-in-out;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 2rem;
      top: 30%;
    }
  
    .android_btn {
      padding: 1.2rem;
      width: 12rem;
    }
  }